.swiper-wrapper {
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
}

.swiper-slide {
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 0 50px;
}